body {
	background: #b80c09;
	margin: 0;
	
}

.caja {
	width: 200px;
	border: 1px solid #071013;
	margin-bottom: 50px;
}

.tipo-a {
	margin: auto;
}

.tipo-b {
	margin-left: calc(100vw / 2 - 100px);
}

.tipo-c {
	border: 1px solid #6a8d73;
	padding: 10px;
	text-align: center;
}

.tipo-c .caja{
	display: inline-block;
	text-align: left;
}

.relative {
	position: relative;
	border: 1px solid #6a8d73;
	height: 400px;

}

.tipo-d {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.tipo-e {
	position: absolute;
	left: 50%;
	margin-left: -100px;
}

.tipo-f {
	display: flex;
	justify-content: center;
}

.tipo-g {
	display: table;
	width: 100%;
	height: 200px;

}

.tipo-g .caja{
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}

.height {
	height: 500px;
	background: #e5e7e6;
}

.tipo-h {
	box-sizing: border-box;
    padding-top: 150px;

}

.tipo-i {
	display: flex;
	align-items: center;

}

.tipo-j {
	line-height: 500px;
}

.tipo-k > * {
	display: inline;
	vertical-align: middle;
}